<template>
    <div v-if="loaded" class="information">
        <h1>Información de su cuenta</h1>
        <h2>Nombre: <span>{{name}}</span></h2>
        <h2>Correo electrónico: <span>{{email}}</span></h2>
    </div>
</template>

<script>
import jwt_decode from 'jwt-decode'
export default {
    name: "AccountComponent",
    data() {
        return {
            name: "",
            email: "",
            loaded: false
        }
    },

    methods: {
        getData: async function() {
            if (localStorage.getItem("token_access") === null || localStorage.getItem("token_refresh") === null) {
                this.$emit('logOut')
                return
            }
            await this.verifyToken()
            let token = localStorage.getItem("token_access")
            let userId = jwt_decode(token).user_id.toString()

            return fetch(`https://mtic-backend-ventas-g2.herokuapp.com/user/${userId}/`, {
                method: 'GET',
                headers: {'Authorization': `Bearer ${token}`}
            })
            .then(res => res.json())
            .then(json => {
                this.name = json.nombre_usuario
                this.email = json.email
                this.loaded = true
            })
            .catch(() => this.$emit("logOut"))
        },
        verifyToken() {
            fetch("https://mtic-backend-ventas-g2.herokuapp.com/refresh/", {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({refresh: localStorage.getItem("token_refresh")})
            })
            .then(res => res.json())
            .then(json => localStorage.setItem("token_access", json.access))
            .catch(() => this.$emit("logOut"))
        }
    },

    async created() {
        this.getData()
    }
}
</script>

<style>
    .information{
        margin: 0;
        padding: 0%;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .information h1{
        font-size: 60px;
        color: #0f1316;
    }

    .information h2{
        font-size: 40px;
        color: #283747;
    }
    
    .information span{
        color: crimson;
        font-weight: bold;
    }
</style>