<template>
    <div class="crear_categoria" >
        <div class="crear_categoria_container">
            <h2>Crear categoria</h2>
            <form v-on:submit.prevent="crearCategoria">
                <input type="text" v-model="categoria.cat_nombre" placeholder="Nombre categoria" >
                <br>
                <button type="submit">Crear</button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: "CrearCategoriaComponent",
    data() {
        return {
            categoria: {
                cat_nombre:""
            }
        }
    },
    methods: {
        crearCategoria() {
            if (this.categoria.cat_nombre !== "") fetch("https://mtic-backend-ventas-g2.herokuapp.com/categoria", {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify(this.categoria)
            })
            .then(res => res.json())
            .then(json => alert(json))
            .then(() => this.categoria.cat_nombre = "")
            .catch(err => {
                console.log(err)
                alert("ERROR: Falló el registro de la categoria.")
            })
            else alert("Escriba el nombre de una categoria")
        }
    }
}
</script>

<style>
    .crear_categoria {
        display: flex;
        height: 100%;
        justify-content: center;
    }
    .crear_categoria_container {
        display: flex;
        flex-direction: column;
        width: 20%;
        align-self: center;
        align-items: center;
        border: 3px solid #283747;
        border-radius: 10px;
        width: 25%;
        height: 60%;
        justify-content: center;
        color: #283747;
    }
    .crear_categoria_container form {
        width: 70%;
    }
    .crear_categoria_container input {
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;
        border: 1px solid #283747;
    }
    .crear_categoria_container button {
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0;
    }
    .crear_categoria_container button:hover {
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }
</style>