<template>
    <div class="container">
        <div class="greetings">
            <h1>Bienvenido <span> {{username}} </span>!</h1>
        </div>
        <div class="menu_container">
            <div class="menu_categorias">
                <h2>Categoria</h2>
                <button class="boton" v-on:click="toCrearCategoria">Crear Categoria</button>
                <button class="boton" v-on:click="toVerCategorias">Ver Categorias</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "HomeComponent",
    data() {
        return {
            username: localStorage.getItem("username") || "None"
        }
    },
    methods: {
        toCrearCategoria() {
            this.$router.push({name: "categoria"})
        },
        toVerCategorias() {
            this.$router.push({name: "categorias"})
        }
    }
}
</script>

<style>
    .container {
        height: 80%;
    }
    .greetings{
        margin: 0;
        padding: 0%;
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .greetings h1{
        font-size: 50px;
        color: #283747;
    }
    .greetings span{
        color: crimson;
        font-weight: bold;
    }
    .menu_container {
        display: grid;
        width: 90%;
        padding: 10px;
    }
    .menu_categorias {
        /* width: 20%;
        display: flex;
        flex-direction: column;
        text-align: center;
        border: 1px blue;
        border-radius: 10px;
        background-color: rgba(0, 0, 255, 0.137);
        padding: 2px; */
        display: flex;
        flex-direction: column;
        width: 20%;
        align-self: center;
        align-items: center;
        border: 3px solid #283747;
        border-radius: 10px;
        width: 25%;
        justify-content: center;
        color: #283747;;
    }
    .boton {
        width: 90%;
        height: 40px;
        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0;
    }
    .boton:hover {
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }
</style>