<template>
    <div v-if="loaded" class="detalle_categoria" >
        <div class="detalle_categoria_cotainer">
            <h2>Modificar Categoria</h2>
            <form v-on:submit.prevent="modificarCategoria">
                <input type="text" v-model="categoria_nueva.cat_nombre" :placeholder="categoria_a_modificar.cat_nombre">
                <button type="submit">Modificar</button>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    name: "ModificarCategoriaComponent",
    data() {
        return {
            categoria_nueva: {
                cat_nombre: ""
            },
            categoria_a_modificar: {},
            loaded: false
        }
    },
    methods: {
        cargarCategoria() {
            fetch(`https://mtic-backend-ventas-g2.herokuapp.com/categoria/${this.$route.params.id}`)
            .then(res => res.json())
            .then(json => {
                this.categoria_a_modificar = json
                this.loaded = true
            })
        },
        modificarCategoria() {
            this.categoria_nueva.cat_id = this.$route.params.id
            if (this.categoria_nueva.cat_nombre !== "") fetch("https://mtic-backend-ventas-g2.herokuapp.com/categoria", {
                    method: 'PUT',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(this.categoria_nueva)
                })
                .then(res => res.json())
                .then(json => alert(json))
                .then(() => this.categoria_nueva.cat_nombre = "")
                .then(() => this.cargarCategoria())
                .catch(err => alert(err))
            else alert("Ingresa el nuevo nombre de la categoria.")
        }
    },
    created() {
        this.cargarCategoria()
    }
}
</script>

<style>
    .detalle_categoria {
        display: flex;
        height: 100%;
        justify-content: center;
    }
    .detalle_categoria_cotainer {
        display: flex;
        flex-direction: column;
        width: 20%;
        align-self: center;
        align-items: center;
        border: 3px solid #283747;
        border-radius: 10px;
        width: 25%;
        height: 60%;
        justify-content: center;
        color: #283747;
    }
    .detalle_categoria_cotainer form {
        width: 70%;
    }
    .detalle_categoria_cotainer input {
        height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;
        border: 1px solid #283747;
    }
    .detalle_categoria_cotainer button {
        width: 100%;
        height: 40px;
        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0;
    }
    .detalle_categoria_cotainer button:hover {
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }
</style>