<template>
    <div v-if="categorias.length !== 0" class="container_categorias">
        <div v-for="categoria in categorias" :key="categoria.cat_id" class="categoria">
            {{categoria.cat_nombre}}
            <div class="boton_container">
                <button v-on:click="modificarCategoria(categoria.cat_id)" class="botones">
                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M18.363 8.464l1.433 1.431-12.67 12.669-7.125 1.436 1.439-7.127 12.665-12.668 1.431 1.431-12.255 12.224-.726 3.584 3.584-.723 12.224-12.257zm-.056-8.464l-2.815 2.817 5.691 5.692 2.817-2.821-5.693-5.688zm-12.318 18.718l11.313-11.316-.705-.707-11.313 11.314.705.709z" /></svg>
                </button>
                <button v-on:click="eliminarCategoria(categoria.cat_id)" class="botones">
                    <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 6v18h18v-18h-18zm5 14c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm5 0c0 .552-.448 1-1 1s-1-.448-1-1v-10c0-.552.448-1 1-1s1 .448 1 1v10zm4-18v2h-20v-2h5.711c.9 0 1.631-1.099 1.631-2h5.315c0 .901.73 2 1.631 2h5.712z" /></svg>
                </button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'VerCategoriasComponent',
    data() {
        return {
            categorias: []
        }
    },
    methods: {
        loadCategorias() {
            fetch("https://mtic-backend-ventas-g2.herokuapp.com/categoria")
            .then(res => res.json())
            .then(json => this.categorias = json)
        },
        eliminarCategoria(id) {
            fetch(`https://mtic-backend-ventas-g2.herokuapp.com/categoria/${id}`, {
                method: 'DELETE'
            })
            .then(res => res.json())
            .then(json => alert(json))
            .then(() => this.loadCategorias())
        },
        modificarCategoria(id) {
            this.$router.push({name: "ModificarCategoria", params: {id: id}})
        }
    },
    created() {
        this.loadCategorias()
    }

}
</script>

<style>
    .container_categorias {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        align-items: center;
    }
    .categoria {
        display: flex;
        width: 80%;
        align-items: center;
        justify-content: space-between;
        padding: 3px;
        border: 3px solid #283747;
        margin-top: 4px;
    }
    .boton_container {
        display: flex;
    }
    .botones {
        width: 40px;
        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;
        border-radius: 5px;
        height: 35px;
    }
    .botones:hover {
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }
    .svg {
        fill: white;
    }
</style>