<template>
    <AccountComponent />
</template>

<script>
import AccountComponent from '@/components/Account.vue'

export default {
    name: "Account",
    components: {
        AccountComponent
    }
}
</script>