<template>
  <CrearCategoriaComponent />
</template>

<script>
// @ is an alias to /src
import CrearCategoriaComponent from '@/components/CrearCategoria.vue'

export default {
  name: 'CrearCategoria',
  components: {
    CrearCategoriaComponent
  }
}
</script>