<template>
  <LogInComponent />
</template>

<script>
// @ is an alias to /src
import LogInComponent from '@/components/LogIn.vue'

export default {
  name: 'LogIn',
  components: {
    LogInComponent
  }
}
</script>