<template>
    <ModificarCategoriaComponent />
</template>

<script>
import ModificarCategoriaComponent from '@/components/ModificarCategoria.vue'

export default {
    name: "ModificarCategoria",
    components: {
        ModificarCategoriaComponent
    }
}
</script>