<template>
  <SignUpComponent />
</template>

<script>
// @ is an alias to /src
import SignUpComponent from '@/components/SignUp.vue'

export default {
  name: 'SignUp',
  components: {
    SignUpComponent
  }
}
</script>