<template>
  <VerCategoriasComponent />
</template>

<script>
// @ is an alias to /src
import VerCategoriasComponent from '@/components/VerCategorias.vue'

export default {
  name: 'VerCategorias',
  components: {
    VerCategoriasComponent
  }
}
</script>