<template>
  <div id="app" class="app" >
    <div class="header" >
      <h1>Manager de inventario 1.0</h1>
      <div id="nav">
        <button v-if="is_auth" v-on:click="loadHome" >Home</button>
        <button v-if="is_auth" v-on:click="loadAccount" >Account</button>
        <button v-if="is_auth" v-on:click="logOut" >Log Out</button>
        <router-link class="link" v-if="!is_auth" to="/user/logIn">Log In</router-link> |
        <router-link class="link" v-if="!is_auth" to="/user/signUp">Sign Up</router-link>
      </div>
    </div>
    <div class="main-component">
      <router-view
      v-on:completedLogIn="completedLogIn"
      v-on:completedSignUp="completedSignUp"
      v-on:logOut="logOut">
      </router-view>
    </div>
    <div class="footer">
      <h2>Misión TIC 2022</h2>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',
  data() {
    return {
      is_auth: false
    }
  },
  components: {},
  methods: {
    verifyAuth() {
      this.is_auth = localStorage.getItem("isAuth") || false
      if(this.is_auth == false) this.$router.push({name: "logIn"})
      else this.$router.push({name: "home"})
    },

    completedLogIn(data) {
      localStorage.setItem("isAuth", true)
      localStorage.setItem("username", data.username)
      localStorage.setItem("token_access", data.token_access)
      localStorage.setItem("token_refresh", data.token_refresh)
      alert("Autenticación exitosa!")
      this.verifyAuth()
    },
    completedSignUp(data) {
      alert("Registro exitoso!")
      this.completedLogIn(data)
    },
    loadHome() {
      this.$router.push({name: "home"})
    },
    logOut() {
      localStorage.clear()
      alert("Se ha cerrado sesión.")
      this.verifyAuth()
    },
    loadAccount() {
      this.$router.push({name: "account"})
    }
  },
  created() {
    this.verifyAuth()
  }
}
</script>

<style>
  body {
    margin: 0 0 0 0;
  }
  .header {
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 10vh;
    min-height: 100px;
    background-color: #283747 ;
    color:#E5E7E9 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header h1 {
    width: 20%;
    text-align: center;
  }
  .header #nav {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
  }
  .header #nav button {
    color: #E5E7E9;
    background: #283747;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 20px;
  }
  .header #nav .link {
    text-decoration: none;
    color: #E5E7E9;
  }
  .header #nav button:hover {
    color: #283747;
    background: #E5E7E9;
    border: 1px solid #E5E7E9;
  }
  .main-component {
    height: 66.5vh;
    /* height: 75vh; */
    margin: 0%;
    padding: 0%;
    background: #FDFEFE;
  }
  .footer {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    min-height: 100px;
    background-color: #283747;
    color: #E5E7E9;
  }
  .footer h2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>